<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Edit User</title>
</head>
<body>

<div class="container">
	<div class="row">
		<section class="col-xs-offset-3 col-xs-6">
			<h1>Edit User</h1>
		</section>
	</div>
    <div class="row">
		<section class="col-xs-offset-2 col-xs-8">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseEmail">
							</span>CHANGE EMAIL</a>
						</h4>
					</div>
					<div id="collapseEmail" class="panel-collapse collapse">
						<div class="panel-body">
							<form id="email" class="form-horizontal" action="editUser.html">
								<div class="row">
									<div class="form-group">
										<label class="col-sm-3" for="showEmail">
										  Current Email address
										</label>
										<div class="col-sm-7">
											<input type="email" class="form-control"
											id="showEmail" placeholder="Email" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3" for="showEmail">
										  New Email address
										</label>
										<div class="col-sm-7">
											<input type="email" class="form-control"
											id="newEmail" placeholder="Email" required>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-3">
											<button type="submit"
											class="btn btn-default">Change Email</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapsePassword">
							</span>CHANGE PASSWORD</a>
						</h4>
					</div>
					<div id="collapsePassword" class="panel-collapse collapse">
						<div class="panel-body">
							<form id="password" class="form-horizontal" action="editUser.html">
								<div class="row">
									<div class="form-group">
										<label class="col-sm-3" for="newPassword">
										  New Password
										</label>
										<div class="col-sm-7">
											<input type="password" class="form-control"
											id="newPassword" placeholder="Password" required>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3" for="newPassword2">
										  Re-Enter Password
										</label>
										<div class="col-sm-7">
											<input type="password" class="form-control"
											id="newPassword2" placeholder="Password" required>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-3">
											<button type="submit"
											class="btn btn-default">Change Email</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseName">
							</span>CHANGE NAME</a>
						</h4>
					</div>
					<div id="collapseName" class="panel-collapse collapse">
						<div class="panel-body">
							<form class="form-horizontal" id="name" action="editUser.html">
								<div class="row">
									<div class="form-group">
										<label class="col-sm-3" for="showFName">
											Current First Name
										</label>
										<div class="col-sm-7">
											<input type="text" class="form-control"
												id="showFName" placeholder="FirstName" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3" for="newFName">
											New First Name
										</label>
										<div class="col-sm-7">
											<input type="text" class="form-control"
												id="showFName" placeholder="FirstName" required>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3" for="showLName">
											Current Last Name
										</label>
										<div class="col-sm-7">
											<input type="text" class="form-control"
												id="showLName" placeholder="LastName" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3" for="newLName">
											New Last Name
										</label>
										<div class="col-sm-7">
											<input type="text" class="form-control"
												id="newLName" placeholder="LastName" required>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-3">
											<button type="submit"
											class="btn btn-default">
												Change Name
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="row">
		<section class="col-xs-offset-3 col-xs-6">
			<a href="admin.html" role="button" class="btn btn-primary">Return to Admin</a>
		</section>
	</div>
</div>

<script src="../js/jquery-2.1.4.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/script.js"></script>
</body>
</html>